@charset "utf-8";
/* CSS Document */
body {
	background-color: #5391aa;	
}

#hero {
	max-width: 1600px;	
	margin-left: auto;
	margin-right: auto;
}

.fade-text {
	position: absolute;
	background-color: white;
	padding: 25px;
	opacity: .8;
}

#main-content {
	background-color: #FFFF99;
	max-width: 1600px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	clear: both;
}

.center-column {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
}

.link {
	color: #5391ee;
	text-decoration: none;
	font-weight: bold;
}

.link:hover {
	text-decoration: underline;	
}

.donate-form-box-header {
	background-color: #5391ee;
	width: 95%;
	padding: 10px;
	color: #fff;
	font-size: 1.3em;
	font-weight: bold;
}

.donate-form-box {
	width: 95%;
	background-color: #ffffff;
	padding: 10px;
	color: #000;
	margin-bottom: 30px;
}

.donate-form-box p {
	margin: 0px
}

#checkout {
	border: none;
	background-color: #5391ee;
	color: white;
	padding: 5px 15px;
	cursor: pointer;
	font-weight: bold;
	text-transform: uppercase;	
}

#bios {
	width: 100%;
	display: inline-block;
	text-align: left;
}

.bio-container {
	border-top-color: #5391ee;
	border-top-style: solid;
	border-top-width: 10px;	
	min-width: 350px;
	width: 45%;
	display: inline-block;
	margin: 0px 0px 20px 0px;
	background-color: #FFF;
	float: left;
	margin-right: 5%;
}

.bio-heading, .bio-text {
	margin: 10px;	
}

.bio-heading {
	font-weight: bold;
}

/*
.bio-img {
	max-width: 95%;
	margin: 0 auto;	
}
*/

.bio-img > img {
	max-width: 100%;
	max-height: 100%;
}

.bio-full
{
	display:none;
}

a.more-bio {
	text-decoration: none;
	color: black;
	margin-bottom: 15px;
	margin-right: 25px;
	display: block;
	float: right;
}