/* CSS Document */
body {	
	background-color: #f1f1f1;
}
p.subheading {
	font-size: 15px;
	margin: 0;
	color: #C00;
}
.centered:before, .centered:after {
	content: " ";
	display: table;
}
.centered:after {
	clear: both;
}
.centered {
*zoom:1;
	margin: 0 10px;
	position: relative;
	width: auto;
	max-width: 1000px
}
@media screen and (min-width: 480px) {
.centered {
	width: 480px;
	margin: 0 auto
}
}
@media screen and (min-width: 768px) {
.centered {
	width: 750px;
	margin: 0 auto
}
}
@media screen and (min-width: 1000px) {
.centered {
	width: 1000px;
	margin: 0 auto;
}
}


header {
	/* border-bottom: 1px solid #e5e5e5; */
	height: 118px
}
@media screen and (min-width: 768px) {
header {
	height: 140px
}
}
@media screen and (min-width: 1000px) {
header {
	height: 140px
}
}

header .centered {
	height: 90px;
}
@media screen and (min-width: 768px) {
header .centered {
	height: 90px
}
}
@media screen and (min-width: 1000px) {
header .centered {
	height: 90px
}
}


header h1.logo {
	height: 54px;
	left: 0;
	position: absolute;
	margin: 0;
	top: 0px;
	width: 172px;
}

@media screen and (min-width: 768px) {
header h1.logo {
	height: 96px;
	left: 0;
	width: 319px;
	top: 20px
}
}
@media screen and (min-width: 1000px) {
header h1.logo {
	height: 78px;
	left: 0;
	width: 260px;
	top: 20px
}
}

header .header-divider {
	position: relative;
	margin: 0;
	/* border-color: #e5e5e5 */
}

header .donate {
	width: 300px;
	top: 20px;
	float: right;
	z-index: 10;
	position: relative;
}

.content .donate {
	float: left;	
	padding-top: 15px;
	padding-left: 40px;
	text-align: center;
}

.content .centered {
	background: #f4f3ef;
	display: block;
	border: 2px solid;
	border-radius: 10px;
	box-shadow: 0px 0px 20px 3px #d3d3d3;
	padding: 5px;
}

.bio {
	padding: 5px;
	display: inline-block;
	clear: both;
	width: 75%;
}
img.bio-pic {
	padding-right: 20px;
	float: left;
}

.bio-text {
	float: left;
	font-family: "elenawebbasic",serif;
	display: block;
}
.bio-name {
	font-size: 26px;
	line-height: 30px;
}
.bio-full
{
	display:none;
}
a.more-bio {
	text-decoration: none;
	margin-bottom: 30px;
	display: block;
}

/**
 * Nav begin
 */
.nav-strip {
	background-color: #CCC;
	height: 34px;	
}
 .nav {
	position: absolute;
	margin: 0px;
	padding: 0px;
	list-style: none;
	z-index: 10;
}

.nav li {
	float: left;
	width: 120px;
	position: relative;
}

.nav li a {
	background: #CCC;
	color: #000;
	display: block;
	padding: 7px 8px;
	text-decoration: none;
}

.nav li a:hover {
	color: #C00;
}

/*=== submenu ===*/

.nav ul {
	display: none;
	position: absolute;
	margin-left: 0px;
	list-style: none;
	padding: 0px;
}

.nav ul li {
	float: left;
}

.nav ul a {
	display: block;
	height: 15px;
	padding: 7px 8px;
	color: #000;
	text-decoration: none;
}

.nav ul li a:hover {
	color: #C00;
}
/**
 * Nav End
 */
 
.content h3 {
	text-align: center;	
}
.history p {
	padding: 0px 10px 0px 10px;	
}

#donation-examples {
	float: left;
	padding-right: 50px;
	padding-left: 20px;
}
.donation {
	width: 350px;
	clear: both;
	padding: 20px 0px 20px 0px;
	display: table;
	table-layout: fixed;
}
.donation-cost {
	width: 20%;
	padding-right: 25px;
	text-align: center;
	display: table-cell;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16pt;
	font-weight: bold;
	vertical-align: middle;
}
.donation-desc {
	width: 80%;	
	display: table-cell;
	vertical-align: middle;
}